In [27]:
import pandas as pd

df = pd.read_excel("/Users/olivia/Downloads/Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [28]:
#CLEANING LAST NAME COLUMN
df["Last_Name"] = df["Last_Name"].str.strip("/._")

In [29]:
#REMOVING DUPLICATE ROWS
df.drop_duplicates(inplace=True)

In [30]:
#REMOVING ROWS WITH NULL ANSWERS IN PHONE NUMBER AND ADDRESS COLUMNS
df.fillna("NaN", inplace=True)
null_values = ["NaN", "N/a"]
df.drop(index=df[df["Phone_Number"].isin(null_values)].index,inplace=True)
df.drop(index=df[df["Address"].isin(null_values)].index, inplace=True)

In [33]:
df.reset_index(drop=True, inplace=True)

In [34]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
7,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
8,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
9,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
10,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
11,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
12,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
13,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
14,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
15,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [39]:
#CLEANING PHONE NUMBER COLUMN TO FOLLO 123-456-7890 FORMAT
df["Phone_Number"] = df["Phone_Number"].astype("string")
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x.replace("-","").replace("|","").replace("/",""))

0     1235455421
1     1236439775
2     7066950392
3     1235432345
4     8766783469
5     3047622467
6     8766783469
7     1235455421
8     7066950392
9     1235432345
10    8766783469
11    3047622467
12    1235455421
13    1236439775
14    7066950392
15    8766783469
Name: Phone_Number, dtype: object

In [42]:
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3]+ "-" + x[3:6] + "-" + x[6:9])
df["Phone_Number"]

0     123-545-542
1     123-643-977
2     706-695-039
3     123-543-234
4     876-678-346
5     304-762-246
6     876-678-346
7     123-545-542
8     706-695-039
9     123-543-234
10    876-678-346
11    304-762-246
12    123-545-542
13    123-643-977
14    706-695-039
15    876-678-346
Name: Phone_Number, dtype: object

In [43]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-977,93 West Main Street,No,Yes,False
2,1003,Walter,White,706-695-039,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Yes,Yes,True
6,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,No,False
7,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No,True
8,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y,NaN,True
9,1013,Don,Draper,123-543-234,2039 Main Street,Yes,N,False
10,1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No,False
11,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,No,False
12,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,N,False
13,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No,False
14,1018,Clark,Kent,706-695-039,3498 Super Lane,Y,NaN,True
15,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,N,True

In [46]:
#NOTICED THAT PAYING CUSTOMER AND CUSTOMER ID COLUMNS WEREN'T UNIFORMED WITH OTHER COLUMN NAMES
df.rename(columns={"Paying Customer":"Paying_Customer","CustomerID" : "Customer_ID"},inplace=True)
df

,Customer_ID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-977,93 West Main Street,No,Yes,False
2,1003,Walter,White,706-695-039,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Yes,Yes,True
6,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,No,False
7,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No,True
8,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y,NaN,True
9,1013,Don,Draper,123-543-234,2039 Main Street,Yes,N,False
10,1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No,False
11,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,No,False
12,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,N,False
13,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No,False
14,1018,Clark,Kent,706-695-039,3498 Super Lane,Y,NaN,True
15,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,N,True

In [51]:
#STANDARDIZING RESPONSES IN PAYING CUSTOMER AND DO NOT CONTACT COLUMNS
df["Paying_Customer"].replace({"Yes": "Y","No":"N"},inplace=True)
df["Do_Not_Contact"].replace({"Yes": "Y","No":"N","NaN": "N"},inplace=True)

In [52]:
df

,Customer_ID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123-643-977,93 West Main Street,N,Y,False
2,1003,Walter,White,706-695-039,298 Drugs Driveway,N,N,True
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Y,Y,True
6,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,N,False
7,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Y,N,True
8,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y,N,True
9,1013,Don,Draper,123-543-234,2039 Main Street,Y,N,False
10,1014,Leslie,Knope,876-678-346,343 City Parkway,Y,N,False
11,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,N,False
12,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,N,N,False
13,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Y,N,False
14,1018,Clark,Kent,706-695-039,3498 Super Lane,Y,N,True
15,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Y,N,True

In [54]:
#DROPPING NOT USEFUL COLUMN
df.drop(columns="Not_Useful_Column",inplace=True)

In [60]:
#ONLY SELECTING CUSTOMERS THAT ARE OKAY WITH BEING CONTACTED
df = df.loc[df["Do_Not_Contact"] == "N"]
df.reset_index(drop=True, inplace=True)

In [61]:
df

,Customer_ID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Y,N
1,1003,Walter,White,706-695-039,298 Drugs Driveway,N,N
2,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,N
3,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,N
4,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Y,N
5,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y,N
6,1013,Don,Draper,123-543-234,2039 Main Street,Y,N
7,1014,Leslie,Knope,876-678-346,343 City Parkway,Y,N
8,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,N
9,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,N,N
10,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Y,N
11,1018,Clark,Kent,706-695-039,3498 Super Lane,Y,N
12,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Y,N

In [62]:
#DROPPING DO NOT CONTACT COLUMN BECAUSE IT'S NOT USEFUL ANYMORE
df.drop(columns="Do_Not_Contact",inplace=True)

,Customer_ID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Y
1,1003,Walter,White,706-695-039,298 Drugs Driveway,N
2,1005,Jon,Snow,876-678-346,123 Dragons Road,Y
3,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N
4,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Y
5,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y
6,1013,Don,Draper,123-543-234,2039 Main Street,Y
7,1014,Leslie,Knope,876-678-346,343 City Parkway,Y
8,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N
9,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,N
10,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Y
11,1018,Clark,Kent,706-695-039,3498 Super Lane,Y
12,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Y

In [63]:
#FINAL DATAFRAME
df

,Customer_ID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Y,N
1,1003,Walter,White,706-695-039,298 Drugs Driveway,N,N
2,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,N
3,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,N
4,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Y,N
5,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y,N
6,1013,Don,Draper,123-543-234,2039 Main Street,Y,N
7,1014,Leslie,Knope,876-678-346,343 City Parkway,Y,N
8,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,N
9,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,N,N
10,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Y,N
11,1018,Clark,Kent,706-695-039,3498 Super Lane,Y,N
12,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Y,N